ion-toolbar{
  --border-width: 0px 0px 0px 0px;
}

ion-content{
  opacity: 1;
  background-size: 56px 98px;
  background-position: 0 0, 0 0, 28px 49px, 28px 49px, 0 0, 28px 49px;
  height: 100vh;
}

ion-button.expand {
  width: 100%;
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullheight {
  height: 100%;
}

.margen{
  margin-bottom: 10px;
}