<ion-content [fullscreen]="true">
  <br><br><br>
  <div class="uppertextcontainer">
    <ion-label class="upper-label">CDM - 2024</ion-label>
  </div>
  <div class="container ion-text-center">
      <img src="assets/icon.png">
  </div>
  <div class="lowertextcontainer">
    <ion-label class="lower-label1">
      Cristian Barrio
    </ion-label>
    <br>
    <ion-label class="lower-label2">
      Daniel de Brito
    </ion-label>
    <br>
    <ion-label class="lower-label3">
      Manuel González
    </ion-label>
  </div>
</ion-content>
