ion-toolbar {
  --border-width: 0px 0px 0px 0px;
}

ion-content {
  opacity: 1;
  background-size: 56px 98px;
  background-position: 0 0, 0 0, 28px 49px, 28px 49px, 0 0, 28px 49px;
  height: 100vh;
}

ion-button.expand {
  width: 100%;
  height: 100%;
}

.xc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullheight {
  height: 100%;
}

ion-input {
  font-size: 18px;
}

ion-fab{
  margin-bottom: 70px;
}

.pedido-card{
  padding: 10px !important;
  margin: 10px auto !important;

  ion-label{
    font-size: 22px;
  }
}

.pascua{
  --padding-bottom: 45px;
}

.footer-pedido{
  --margin-bottom: 100px;
  --padding-bottom: 45px;
}

.itemB{
  font-size: 22px;
}

.footer-pedido {
  position: bottom;
  bottom: 5;
  margin-bottom: 10px;
  z-index: 10;
}