<div class="pedido pascua">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon slot="start" (click)="cancel()" size="large" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title>Realizar pedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding pascua">
    <ion-grid>
      <ion-item class="itemB ion-text-center pedido-card" lines="none">
        <ion-label>Platos</ion-label>
      </ion-item>
      <ng-container *ngFor="let producto of productos | async">
        <ion-row *ngIf="producto.tipo === 'plato'">
          <ion-card class="ion-no-margin cardA pedido-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[0] }}" />
                </ion-col>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[1] }}" />
                </ion-col>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[2] }}" />
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-header>
              <ion-card-title>{{producto.nombre}} ${{producto.precio}}</ion-card-title>
              <ion-card-subtitle>Tiempo: {{producto.tiempoPreparacion}} minutos</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{producto.descripcion}}
            </ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="ion-text-center">
                  <ion-button size="large" class="btn-cant" [disabled]="estaEnElArray(producto.uid)"
                    (click)="quitarDelArray(producto)" shape="round">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-input class="ion-text-center" ion-text-center type="text" min="0"
                    [value]="calcularCantidad(producto.uid)" [readonly]="true"></ion-input>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-button size="large" class="btn-cant" (click)="agregarAlArray(producto)" shape="round">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
      </ng-container>


      <ion-item class="ion-margin-top itemA ion-text-center pedido-card" lines="none">
        <ion-label>Bebidas</ion-label>
      </ion-item>
      <ng-container *ngFor="let producto of productos | async ; index as i">
        <ion-row *ngIf="producto.tipo === 'bebida'">
          <ion-card class="ion-no-margin cardB pedido-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[0] }}" />
                </ion-col>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[1] }}" />
                </ion-col>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[2] }}" />
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-header>
              <ion-card-title>{{producto.nombre}} ${{producto.precio}}</ion-card-title>
              <ion-card-subtitle>Tiempo: {{producto.tiempoPreparacion}} minutos</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{producto.descripcion}}
            </ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="ion-text-center">
                  <ion-button size="large" class="btn-cant2" [disabled]="estaEnElArray(producto.uid)"
                    (click)="quitarDelArray(producto)" shape="round">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-input class="ion-text-center" ion-text-center type="text" min="0"
                    [value]="calcularCantidad(producto.uid)" [readonly]="true"></ion-input>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-button size="large" class="btn-cant2" (click)="agregarAlArray(producto)" shape="round">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
      </ng-container>

      <ion-item class="ion-margin-top itemB ion-text-center pedido-card" lines="none">
        <ion-label>Postres</ion-label>
      </ion-item>

      <ng-container *ngFor="let producto of productos | async">
        <ion-row *ngIf="producto.tipo === 'postre'">
          <ion-card class="ion-no-margin cardA pedido-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[0] }}" />
                </ion-col>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[1] }}" />
                </ion-col>
                <ion-col>
                  <img alt="Silhouette of mountains" src="{{ producto.fotos[2] }}" />
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-header>
              <ion-card-title>{{producto.nombre}} ${{producto.precio}}</ion-card-title>
              <ion-card-subtitle>Tiempo: {{producto.tiempoPreparacion}} minutos</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{producto.descripcion}}
            </ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="ion-text-center">
                  <ion-button size="large" class="btn-cant3" [disabled]="estaEnElArray(producto.uid)"
                    (click)="quitarDelArray(producto)" shape="round">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-input class="ion-text-center" ion-text-center type="text" min="0"
                    [value]="calcularCantidad(producto.uid)" [readonly]="true"></ion-input>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-button size="large" class="btn-cant3" (click)="agregarAlArray(producto)" shape="round">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
      </ng-container>
    </ion-grid>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="open-modal" class="fab-pedido">
        <ion-icon name="eye"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal #modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <ion-content class="pagar pascua">
          <div class="pedido-modal">
          <ion-grid class="ion-margin-top">

            <ion-row>
              <ion-col>
                <ion-item class="ion-margin-top itemB ion-text-center" lines="none">
                  <label>Detalle</label>
                </ion-item>
              </ion-col>
            </ion-row>

            <ng-container *ngIf="pedido.productos.length === 0">
              <ion-row>
                <ion-col>
                  <ion-item class="ion-margin-top itemB ion-text-center" lines="none">
                    <ion-label>El pedido está vacío</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ng-container>

            <ion-row>
              <ion-col>
                <ng-container *ngFor="let producto of pedido.productos">
                  <ion-item *ngIf="producto.tipo === 'plato'" class="itemA">
                    <ion-label>x{{ producto.cantidad }} {{ producto.nombre }} | ${{ producto.precio }} | TOTAL:
                      ${{producto.precio * producto.cantidad | number : "1.2-2"}}</ion-label>
                  </ion-item>
                </ng-container>
                <hr>
                <ng-container *ngFor="let producto of pedido.productos">
                  <ion-item *ngIf="producto.tipo === 'bebida'" class="itemA">
                    <ion-label>x{{ producto.cantidad }} {{ producto.nombre }} | ${{ producto.precio }} | TOTAL:
                      ${{producto.precio * producto.cantidad | number : "1.2-2"}}</ion-label>
                  </ion-item>
                </ng-container>
                <hr>
                <ng-container *ngFor="let producto of pedido.productos">
                  <ion-item *ngIf="producto.tipo === 'postre'" class="itemA">
                    <ion-label>x{{ producto.cantidad }} {{ producto.nombre }} | ${{ producto.precio }} | TOTAL:
                      ${{producto.precio * producto.cantidad | number : "1.2-2"}}</ion-label>
                  </ion-item>
                </ng-container>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item class="ion-margin-top itemB ion-text-center" lines="none">
                  <ion-label style="font-size: 64px;">${{ total | number : "1.2-2" }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="fondo-pascua" aria-hidden="true">
      <div class="fondo">
        <div class="patron"></div>
      </div>
      <div>
        <div class="patron"></div>
      </div>
    </div>
    
    <div class="footer-pedido pascua">
      <ion-toolbar style="--border-width: 0px 0px 0px 0px;">
        <ion-title style="font-size: 18px">${{ total | number : "1.2-2" }}<br>Demora: {{ tiempo }} min.</ion-title>
        <ion-button slot="end" class="customButtonA ion-margin-end" (click)="confirm(pedido)" [hidden]="pedido.productos.length === 0" [disabled]="pedido.productos.length === 0">
          <ion-label>Confirmar</ion-label>
        </ion-button>
      </ion-toolbar>
    </div>
  </ion-content>

</div>