<!-- <ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Color primario</ion-label>
      <input type="color" [(ngModel)]="theme.primaryColor" (input)="update()" />
    </ion-item>

    <ion-item>
      <ion-label>Fuente</ion-label>
      <ion-select [(ngModel)]="theme.fontFamily" (ionChange)="update()">
        <ion-select-option value="system-ui">Sistema</ion-select-option>
        <ion-select-option value="Comic Sans MS">Comic Sans 😈</ion-select-option>
        <ion-select-option value="Arial">Arial</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tamaño texto</ion-label>
      <ion-range min="12" max="22" [(ngModel)]="theme.fontSize" (ionChange)="update()"></ion-range>
    </ion-item>
  </ion-list>
</ion-content> -->
