$fuente: 'arco';


ion-toolbar {
  --background: rgba(255, 0, 0, 1);
  --color: #fffb00;
  --border-color: #fffb00;
  --border-width: 0px 0px 4px 0px;
  font-family: $fuente;
}

ion-content {
  //  //--background: black;
  //  --background: #724121;
  //--background: #fa2828;
  --background: 'none';
  background-color: #ffcfcf;
  opacity: 1;
  background-image: linear-gradient(30deg, #fffed7 12%, transparent 12.5%, transparent 87%, #fffed7 87.5%, #fffed7), linear-gradient(150deg, #fffed7 12%, transparent 12.5%, transparent 87%, #fffed7 87.5%, #fffed7), linear-gradient(30deg, #fffed7 12%, transparent 12.5%, transparent 87%, #fffed7 87.5%, #fffed7), linear-gradient(150deg, #fffed7 12%, transparent 12.5%, transparent 87%, #fffed7 87.5%, #fffed7), linear-gradient(60deg, #fffed777 25%, transparent 25.5%, transparent 75%, #fffed777 75%, #fffed777), linear-gradient(60deg, #fffed777 25%, transparent 25.5%, transparent 75%, #fffed777 75%, #fffed777);
  background-size: 56px 98px;
  background-position: 0 0, 0 0, 28px 49px, 28px 49px, 0 0, 28px 49px;
  font-family: $fuente;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: #b9b600;
  color: rgb(255, 0, 0);
}

.other-message {
  background: rgb(211, 0, 0);
  color: #fffb00;
}

.time {
  color: #383838;
  float: right;
  font-size: small;
}

.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  //background: #fff;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.messages-container {
  min-height: 100%;
  width: 100%;
  position: relative;

}