// $fuente: 'arco';

// .itemA {
//   --background: #ff0000 !important;
//   --color: #fffb00 !important;

//   ion-label {
//     font-family: $fuente;
//   }
// }

// .itemB {
//   --background: #fffb00 !important;
//   --color: #ff0000 !important;

//   ion-label {
//     font-family: $fuente;
//   }
// }

ion-item{
    --background: transparent !important;
    --ion-item-background: transparent !important;
}

.acciones {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.acciones ion-button {
  flex: 1;
  font-size: 14px;
}
