<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="torta">
      <ion-segment-button value="torta">
        <ion-label>Servicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="barras">
        <ion-label>Velocidad</ion-label>
      </ion-segment-button>
      <ion-segment-button value="linea">
        <ion-label>Precios</ion-label>
      </ion-segment-button>
      <ion-segment-button value="comentarios">
        <ion-label>Comentarios</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'torta'">
      <ion-card>
        <ion-card-content>
          <div *ngIf="chartPie" [chart]="chartPie"></div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'barras'">
      <ion-card>
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="chartBar" [chart]="chartBar"></div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'linea'">
      <ion-card>
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="chartLine" [chart]="chartLine"></div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'comentarios'">
      <ion-card *ngFor="let comentario of comentarios">
        <ion-card-header>
          <ion-card-title>{{comentario.fecha.toDate() | date:'h:mma d/MM/YY'}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ comentario.mensaje }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>