<ion-item class="ion-margin itemA" lines="none">
  <ion-label slot="start">Clientes</ion-label>
</ion-item>
<ng-container>
  <ion-item *ngFor="let cliente of $clientes | async" class="ion-margin itemB" lines="none">
    <ion-label slot="start">{{ (cliente['correo'].length>10)? (cliente['correo'] | slice:0:10)+'...':(cliente['correo']) }}</ion-label>
    <ion-button [disabled]="cliente['estado'] === 'rechazado'" color="danger" slot="end"
      (click)="cambiarAcceso(cliente['uid'], cliente['nombre'], cliente['correo'], 'rechazado')">Quitar Acceso</ion-button>
    <ion-button [disabled]="cliente['estado'] === 'aceptado'" color="success" slot="end"
      (click)="cambiarAcceso(cliente['uid'], cliente['nombre'], cliente['correo'], 'aceptado')">Dar Acceso</ion-button>
  </ion-item>
</ng-container>