<div class="cliente halloween">
  <ion-grid>
    <ng-container>
      <ion-row>
        <ion-col>
          <ion-item class="itemA" lines="none">
            <ion-label *ngIf="!usuarioActual.enEspera && !usuarioActual.tieneMesa">Ud. no se encuentra en lista de espera.
              Solicitelo escaneando el código QR</ion-label>
            <ion-label *ngIf="usuarioActual.enEspera && !usuarioActual.tieneMesa"> Se encuentra en la lista de espera.
            </ion-label>
            <ion-label *ngIf="usuarioActual.tieneMesa"> Su mesa es la número {{usuarioActual.mesa.numero}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row class="ion-no-margin">
      <ion-col class="ion-text-center">
        <ion-button (click)="scan()" class="botonQr">
          <img class="ion-margin-top" alt="QR Code" src="../../../assets/qr.svg" style="height: 300px" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ">
        <ion-item class="itemA ion-text-center" lines="none">
          <ion-label>
            <img class="qrpro" src="assets/profesional/up-chevron1.png" style="height:28px; width: 28px;">
            <img class="qrarg" src="assets/argentina/obelisk-of-buenos-aires.png" style="height:28px; width: 28px;">
            <img class="qrnaif"src="assets/naif/hot-air-balloon.png" style="height:28px; width: 28px;">
            <img class="qrhal" src="assets/custom/candle (1).png"style="height:28px; width: 28px;">
            Escanee el código QR
            <img class="qrpro" src="assets/profesional/up-chevron1.png" style="height:28px; width: 28px;">
            <img class="qrarg" src="assets/argentina/obelisk-of-buenos-aires.png" style="height:28px; width: 28px;">
            <img class="qrnaif"src="assets/naif/hot-air-balloon.png" style="height:28px; width: 28px;">
            <img class="qrhal" src="assets/custom/candle (1).png" style="height:28px; width: 28px;">
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="usuarioActual.tieneMesa">
      <ion-col>
        <ion-button size="large" expand="full" (click)="modalChat()" class="botonMozo">
          Consultar al mozo
          <img class="qrpro" src="assets/profesional/support.png" style="height:30px; width: 30px;">
          <img class="qrarg" src="assets/argentina/tango.png" style="height:30px; width: 30px;">
          <img class="qrnaif" src="assets/naif/rose.png" style="height:27px; width: 27px;">
          <img class="qrhal" src="assets/custom/bats.png" style="height:30px; width: 30px;">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pedidoActual !== undefined && pedidoActual !== null && pedidoActual.estado === 'entregado'">
      <ion-col>
        <ion-button size="large" expand="full" (click)="cambiarEstado('recibido')"
          class="customButtonB"><ion-label>Confirmar recepción del pedido</ion-label></ion-button>
      </ion-col>  
    </ion-row>
    
    <!-- comentar -->
    <!-- <ion-row>
      <ion-col class="ion-text-center ion-margin-top">
        <ion-button (click)="openModal()" class="customButtonA">Modal Lobby</ion-button>
        <ion-button (click)="modalPedido()" class="customButtonA">Pedido</ion-button>
        <ion-button (click)="modalOpciones()" class="customButtonA">Modal Opciones</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <!-- <div style="padding: 20px; display:flex; flex-direction:column; gap:10px;">
    <ion-button expand="block" (click)="modalPedido()">Test Pedido</ion-button>
    <ion-button expand="block" (click)="modalChat()">Test Chat</ion-button>
    <ion-button expand="block" (click)="modalOpciones()">Test Opciones</ion-button>
    <ion-button expand="block" (click)="modalEncuestas()">Test Encuestas</ion-button>
    <ion-button expand="block" (click)="modalCargarEncuesta()">Test Cargar Encuesta</ion-button>
    <ion-button expand="block" (click)="modalPedirCuenta()">Test Pagar Pedido</ion-button>
  </div> -->

  <!-- <ion-row *ngIf="pedidoActual">
    <ion-col>
      <ion-item>
        {{pedidoActual.uid|json}}
      </ion-item>
    </ion-col>
  </ion-row> -->
</div>